[Unit]
Description=IR RC Action Daemon
After=network.target

[Service]
Type=forking
PIDFile=/var/run/ir_daemon.pid
ExecStart=/usr/bin/ir_daemon
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
